html {
    font-size: 3vw;
}
body {
    margin: 0;
}
header {
    font-family: Cinzel, serif;
    background-color: #003366;
    color: white;
    padding: 0.5em;
}
.header--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
}
img {
    /* position: absolute; */
    top: 4vh;
    left: 4vh;
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
}
h1 {
    font-size: 1em;
}
#mobile-menu {
    display: none;
    font-size: 1.25em;
    padding-left: 1em;
}
nav {
    font-size: .5em;
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}
a {
    color: white;
    text-decoration: none; 
    padding-left: 1em;
}
